# Віртуальне середовище
env/
*.pyc

# Файли налаштувань редакторів/IDE
.idea/
.vscode/

# Тимчасові файли
__pycache__/
*.py[cod]

# Файли баз даних SQLite
*.db
*.sqlite3

# Журнали
*.log

# Папки та файли системи контролю версій
.git

config.py
